<!-- About-us Section Start -->
<section class="main_heading my-5" id="about">
    <div class="text-center">
        <h1 class="display-4">About Us</h1>
        <hr class="w-25 mx-auto"/>
    </div>
  
    <div class="container">
        <!-- Responsive GRID CSS.. If u want to responsive then necessary to write class="row" & in this row we can write only 12 columns-->
        <div class="row my-5">
            <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
                <figure>
                    <!-- class="img-fluid" for Responsive image-->
                    <img src="../../../assets/Images/profile1.jpg" alt="about images" class="img-fluid about_img"/> 
                </figure>
            </div>
            <div class="col-lg-6 col-md-6 col-12 col-xxl-6 d-flex justify-content-center align-items-start flex-column">
                <h1>My Journey</h1>
                <p>I'm a Web Developer lives in Pune, India.<br>
                    I have studied hard to become a well qualified software developer.
                    To work in challenging and competitive environment in order to stand with 
                    the latest technology and to wide my technical and interpersonal skill to the 
                    best of my abilities for the organizational excellence and my career growth. 
                    I would like to implement my innovative ideas, skills and creativity for 
                    accomplishing the projects.
                </p>
                <button type="button" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
                    Check More
                </button>
            </div>
        </div>
    </div>
  </section>
  <!-- About-us Section End -->