<!-- Gallery Section Start -->
<section class="main_heading my-5 bg-light pt-5" id="gallery">
    <div class="text-center">
        <h1 class="display-4">Gallery</h1>
        <hr class="w-25 mx-auto"/>
    </div>
    <div class="container my-5">
        <div class="row gy-2">
            <div class="col-md-4 col-10 col-xxl-4 mx-auto">
                <figure>
                    <img src="../../../assets/Images/n1.jpg" alt="gallery" class="img-fluid">
                </figure>
            </div>
            <div class="col-md-4 col-10 col-xxl-4 mx-auto">
                <figure>
                    <img src="../../../assets/Images/n2.jpg" alt="gallery" class="img-fluid">
                </figure>
            </div>
            <div class="col-md-4 col-10 col-xxl-4 mx-auto">
                <figure>
                    <img src="../../../assets/Images/n3.jpg" alt="gallery" class="img-fluid">
                </figure>
            </div>
            <div class="col-md-4 col-10 col-xxl-4 mx-auto">
                <figure>
                    <img src="../../../assets/Images/n4.jpg" alt="gallery" class="img-fluid">
                </figure>
            </div>
            <div class="col-md-4 col-10 col-xxl-4 mx-auto">
                <figure>
                    <img src="../../../assets/Images/n5.jpg" alt="gallery" class="img-fluid">
                </figure>
            </div>
            <div class="col-md-4 col-10 col-xxl-4 mx-auto">
                <figure>
                    <img src="../../../assets/Images/n2.jpg" alt="gallery" class="img-fluid">
                </figure>
            </div>
        </div>
    </div>
  </section>
  <!-- Gallery Section End -->