<!-- Services Section Start -->
<section class="main_heading my-5 bg-light pt-5" id="services">
    <div class="text-center">
        <h1 class="display-4">Services</h1>
        <hr class="w-25 mx-auto"/>
    </div>
  
    <div class="container services">
        <div class="row my-5">
            <div class="col-md-4 col-10 col-xxl-4 mx-auto"> <!-- mx-auto make it responsive on mobile device-->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../../assets/Images/n1.jpg" alt="services images" class="img-fluid h-100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><b>Card title</b></h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="col-md-4 col-10 col-xxl-4 mx-auto">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../../assets/Images/n2.jpg" alt="services images" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><b>Card title</b></h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="col-md-4 col-10 col-xxl-4 mx-auto">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../../assets/Images/n3.jpg" alt="services images" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><b>Card title</b></h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
            
            <div class="col-xxl-12 text-center my-5">
                <button type="button" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Check more services">
                    Check More
                </button>
            </div>
        </div>
    </div>
  </section>
  <!-- Services Section End -->